annotated-types==0.6.0 ; python_version >= "3.12" and python_version < "4.0"
pydantic-core==2.14.6 ; python_version >= "3.12" and python_version < "4.0"
pydantic-settings==2.2.1 ; python_version >= "3.12" and python_version < "4.0"
pydantic==2.5.3 ; python_version >= "3.12" and python_version < "4.0"
python-dotenv==1.0.1 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.10.0 ; python_version >= "3.12" and python_version < "4.0"
aiogram[telegrambot]==3.4.1 ; python_version >= "3.12" and python_version < "4.0"
geopy[telegrambot]==2.4.1 ; python_version >= "3.12" and python_version < "4.0"
requests[telegrambot]==2.31.0 ; python_version >= "3.12" and python_version < "4.0"
uvicorn[recsys]==0.29.0 ; python_version >= "3.12" and python_version < "4.0"
fastapi[recsys]==0.110.1 ; python_version >= "3.12" and python_version < "4.0"